
.apre-white{
    background-color: #ffffff !important;
    border: 1px solid #C59D5F !important;
    width: 200px;
    min-height: 68px;
    font-size: 20px;
    font-family: 'Noto Serif Armenian', serif;
    cursor: pointer;
    margin-top: 10px;
    /*margin: 0 auto;*/
    /*border-radius: 100px !important;*/
}
.apre-white:hover{
    background-color: #C59D5F !important;
}

.apre-href-restaurants{
    line-height: 18px !important;
    padding: 15px 20px !important;
    color: #C59D5F !important;
}
 .apre-href-restaurants:hover{
    color: #fff !important;
}
