.page-link {
  color: black;
  border: 1px solid black;
  font-size: 20px;
  padding: 10px;
}
.page-link:hover {
  background-color: #c59d5f;
  color: white;
}
.pagination {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.active {
  color: white;
}
