.wrapper-resturants {
    color: white;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.filtred-container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 900px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 25px;
    border-top: 2px solid #C59D5F;
    border-bottom: 2px solid #C59D5F;
}

.countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.checkbox {
    width: 25px !important;
    height: 25px !important;
    border-radius: 5px !important;

}
.container-restaurants {
    text-align: center;
}
.post-data {

/*width: 100%;*/
    width: 1500px;
    margin: 0 auto;
    /*display: flex;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    /*margin: 0 auto;*/

}

.pagination-pages{
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
}
