.box-resurants {
    width: 400px;
    height: 400px;

    position: relative;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;

}

.box-img {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.box-img:hover {
    transform: scale(1.2);
}

.box-img > .img-resturants {
    width: 400px;
    height: 266px;
    overflow: hidden;
}

/*.description-img {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*}*/

.description-img  {
    position: absolute;
    top: 270px;
}
.description-name {
    position: absolute;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 300px;
}

.description-name > p {
    margin-left: 20px;

}