.box-resurants {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    position: relative;
    text-align: center;
}

.box-img {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

.box-img > .img-resturants {
    width: 400px;
    height: 266px;
}

/*.description-img {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*}*/