.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(230, 230, 230, 0.7);
    z-index: 9999999;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.content {
    position: fixed;
    top: 50%;
    left: 50%;
    /*background-color: #fff;*/
    width: 100%;
    max-width: 400px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9;
    height: 90%;
    background: radial-gradient(
            ellipse at left bottom,
            rgba(22, 24, 47, 1) 0%,
            rgba(38, 20, 72, 0.9) 59%,
            rgba(17, 27, 75, 0.9) 100%);
    box-shadow: 0 60px 80px -20px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}


.modal-text {
    color: white;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 60px 80px -20px rgba(0, 0, 0, 0.8);
}


.btn {
    outline: none;
    padding: 29px;
    margin: 26px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #603bbb;
    cursor: pointer;
    border-radius: 8px;
    color: red;
}

.btn:hover {
    color: tomato;

}